<h1>New division</h1>

<form action="/wizard_divide">
  <label for="div1">
    Divide this:
  </label>
  <input id="div1" name="first_num" text="text">

  <label for="div2">
    by this:
  </label>
  <input id="div2" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
